<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274133484422-jvlfh8e02p44j85ih70j8aubaa12pjl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274133484422-jvlfh8e02p44j85ih70j8aubaa12pjl2</string>
	<key>API_KEY</key>
	<string>AIzaSyAhIbSBTxCuXpjg4HhwJDMLPGAf_WZEWr0</string>
	<key>GCM_SENDER_ID</key>
	<string>274133484422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceProject</string>
	<key>PROJECT_ID</key>
	<string>practice-project-50570</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-project-50570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274133484422:ios:9130a77f35559922932207</string>
</dict>
</plist>